<div class="d-flex justify-content-center mb-3">
    <form action="{{URL}}/perfil" method="post" enctype="multipart/form-data">
        <input type="file" name="imagem">
        <button type="submit">Upload</button>
    </form>
</div>
<div class="card text-dark mb-3">
    <div class="card-body">
        {{nome}}
    </div>
</div>
<div class="card text-dark mb-3">
    <div class="card-body">
        {{email}}
    </div>
</div>
<div class="card text-dark mb-3">
    <div class="card-body">
        {{senha}}
    </div>
</div>