<h1>Depoimentos</h1>
<hr>
<section id="testimonies">
    <div>
        <h5>Gabriel <small>03/07/2023</small></h5>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, veritatis
            eum mollitia nemo voluptatibus natus facilis quae dolore deserunt fuga quia autem
            officiis aut, nihil nesciunt a repudiandae veniam atque!
        </div>
    </div>
    <div>
        <h5>Gabriel <small>03/07/2023</small></h5>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, veritatis
            eum mollitia nemo voluptatibus natus facilis quae dolore deserunt fuga quia autem
            officiis aut, nihil nesciunt a repudiandae veniam atque!
        </div>
    </div>
    <div>
        <h5>Gabriel <small>03/07/2023</small></h5>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, veritatis
            eum mollitia nemo voluptatibus natus facilis quae dolore deserunt fuga quia autem
            officiis aut, nihil nesciunt a repudiandae veniam atque!
        </div>
    </div>
</section>
<hr>
<section id="form">
    <h3>Envie seu depoimento</h3>
    <form action="" method="post">
        <div>
            <label>Nome</label>
            <input type="text" name="nome" required>
        </div>

        <div>
            <label>Text</label>
            <textarea name="mensagem" rows="5" required></textarea>
        </div>

        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</section>